body {
  background-color: antiquewhite;
}

.list {
  list-style-type: none;
  display:flex;
  flex-wrap: wrap;
}

.shop {
  border: 1px dotted;
  border-color: black;
  padding: 3em 8em;
  color: black;
  margin: .5em 1em;
  flex: 1;
  background-color: rgb(155, 108, 81);
}